body{
    margin: 0;
    padding: 0;
    font-family: Tahoma Minion Pro;
    color: #ffffff;
}
.body__wrap{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-gallery{
    display: flex;
    justify-content: center;
}
.size{
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    height: inherit;
    /* box-shadow: 0 2px 1px black; */
}
.header__head{
    height: 50px;
    background-color: #af9559;
}
.header__head__address{
    width: 236px;
    height: 25px;
    margin: auto 38px auto 5px;
    padding: 0;
}
.header__head__address-line{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    padding: 3px;
}
.header__head__phone{
    width: 236px;
    height: 25px;
    margin: auto 5px;
    padding: 0;
}
.header__head__address-phone{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 3px;
}
.logo-phone{
    width: 17px;
}
.header__head__info ul{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 10px 10px;
}
.header__head__info li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 3px 8px;
    color: #ffffff;
}
.header__head__info li:last-child{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 3px 3px 74px;
    color: #ffffff;
}
.header__head-logo{
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid white;
    border-radius: 100px;
    line-height: 25px;
    margin-top: 11px;
}
.header__search{
    height: 100px;
}
.header__arsenal{
    width: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.header__arsenal__text{
    margin: auto;
    width: 186px;
    height: 14px;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.search {
    box-sizing: border-box;
    width: 380px;
    height: 44px;
    margin: auto;
}
.search form {
    position: relative;
    width: 380px;
    height: 40px;
    margin: 0 auto;
}
/*.search__form {
    background: #683B4D;
}*/
.search__form input, .search__form button {
    outline: none;
    background: transparent;
}
.search__form input {
    width: 95%;
    height: 42px;
    padding: 0 0 0 15px;
    border: 1px solid #919191;
    background-color: #ffffff;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    /* Text style for "Поиск това" */
    letter-spacing: 0.35px;
}
.search__form button {
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search__form button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #919191;
}
.search__form input:focus {
    /*border-color: #1d0f15;*/
    border: 1px solid #1d0f15;
}
.header__basket{
    width: 150px;
    height: 42px;
    border: 1px solid #919191;
    margin: auto;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
.header__basket:hover{
    border: 1px solid #1d0f15;
    cursor: pointer;
}
.header__basket__logo{
    width: 25px;
    height: 25px;
    margin: auto;
}
.header__basket p{
    margin: auto;
    color: #444444;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.header__basket span{
    width: 25px;
    height: 15px;
    background-color: #c19d47;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border-radius: 80px;
    margin: auto;
}
.header-hr{
    border: 1px solid #d0c9c97a;
    margin: 0;
}
.nav__header{
    height: 60px;
    border-bottom: 2px solid rgba(249, 9, 9, 0.98);
}
.nav__menu{
    height: inherit;
}
.nav__menu ul{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: auto;
}
.nav__menu li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 5px 14px;
    color: #673a20;
}
.nav__menu li{
    transition: 300ms;
    padding: 5px 0;
}
.nav__menu li:first-child a{
    color: #af9559;
    font-weight: 700;
}
.nav__menu li:hover{
    box-shadow:0 0 0 4px #f90909cc;
    background: #f90909cc;
    border-radius: 25px;
}
.nav__menu li:hover a{
    color: #ffffff;
}
.gallery{
    height: 520px;
}
.logoCompany{
    height: 70px;
}
.logoCompany img{
    margin: auto;
}
.firstText{
    height: 55px;
}
.firstText__line-left{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0)) no-repeat 50% 100%;
    background-size: 100% 1px;
    margin: auto;
    width: 370px;
    height: 1px;
}
.firstText__line-right{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0)) no-repeat 50% 100%;
    background-size: 100% 1px;
    margin: auto;
    width: 370px;
    height: 1px;
}
.firstText__text{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #673a20;
    padding: 0;
    margin: auto;
    border-bottom: 1px solid;
}
.secondText{
    height: 80px;
}
.secondText__text{
    font-size: 37px;
    font-weight: 500;
    line-height: 24px;
    color: #673a20;
    padding: 0;
    margin: auto;
    width: 417px;
}
.kindItem{
    height: 45px;
}
.kindItem__menu{
    display: inline-flex;
    list-style-type: none;
    padding:0;
    margin: auto;
    background-color: #673e30;
    border-radius: 25px;
    overflow: hidden;
}
.kindItem__menu li {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding: 4px 14px;
    color: #ffffff;
    border-radius: 25px;
    transition: 300ms;
    cursor: pointer;
}
.kindItem__menu li:hover{
    box-shadow: inset 19px -20px 20px 20px #f90909cc;
    border-radius: 25px;
}
.kindItem__menu li:active{
    box-shadow:inset 19px -20px 20px 20px rgba(213, 9, 9, 0.65);
    border-radius: 25px;
}
.galleryItem{
    height: 525px;
}
.galleryItem__box{
    width: 240px;
    height: 500px;
    margin: auto 0;
    padding: 0;
    border: 1px solid #80808059;
    transition: 300ms;
}
.galleryItem__box__img{
    width: 240px;
    height: 345px;
}
.galleryItem__box__img img{
    margin: auto;

}
.galleryItem__box__text h3{
    color: #505050;
    font-weight: 500;
}
.galleryItem__box__text p{
    line-height: 20px;
    color: #444444;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    width: 163px;
    text-align: center;
    margin: auto;
}
.galleryItem__box__text{
    height: 135px;
    margin: auto;
}
.galleryItem__box__text-cross{
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.45px;
    text-decoration: line-through;
    margin: 2px;
}
.galleryItem__box__text-discountRed{
    color: #e73939;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin: 2px;
}
.galleryItem__box__menu{
    width: 140px;
    height: 40px;
    margin: auto;
    background-color: #fdfdfd;
    opacity: 0;
    transition: 400ms;
}
.galleryItem__box__menu__img{
    width: 117px;
    height: 40px;
    background-color: #673e30;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    margin: 0 11.5px;
    display: flex;
}
.galleryItem__box__menu__img-wrrp{
    margin: auto;
    width: 33px;
    height: 31px;
    transition: 300ms;
    cursor: pointer;
}
.galleryItem__box__menu__img img{
    width: 23px;
    height: 20px;
    margin: auto;
    padding:5px;
}
.galleryItem__box__menu__img-wrrp:hover{
    box-shadow:0 0 0 4px #f90909cc;
    background: #f90909cc;
    border-radius: 20px;
}
.galleryItem__box:hover .galleryItem__box__menu {
    opacity: 1;
}
.galleryItem__box:hover{
    border: 1px solid #7d6969;
}
.thirdText{
    height: 70px;
}
.thirdText__box {
    margin: auto;
    width: 572px;
    display: flex;
}
.firstText__text1{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #673a20;
    padding: 0;
    margin: auto;
    border-bottom: 1px solid;
    cursor: pointer;
}
.firstText__text1:first-child{
    margin-right: 10px;
}
.firstText__text1:last-child{
    margin-left: 10px;
}
.services__boxes{
    height: 440px;
    width: 1000px;
    border: 2px solid #80808059;
    margin: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
}
.services__box{
    width: 310px;
    height: 155px;
    margin: 62px auto 0;
    transition: 300ms;
    cursor: pointer;
}
.services__box:hover{
    box-shadow: 4px -1px 20px 0px #80808059;
}
.services__box__img{
    width: 180px;
    height: 60px;
}
.services__box__img img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.services__box__img h3{
    margin: 0 auto;
    height: 47px;
    color: #d8424b;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: underline;
    letter-spacing: 0.45px;
    width: 200px;
}
.services__box p{
    width: 290px;
    height: 75px;
    color: #444444;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 15px 5px;
}
.services__head{
    width: 126px;
    height: 53px;
    position: relative;
    margin: 20px auto auto;
}
.services__head h2{
    width: 129px;
    height: 54px;
    color: #503737;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 1px;
    margin: auto;
    background-color: #fdfdfd;
    position: absolute;
    bottom: -21px;
    box-shadow: 0 0 0px 20px #fdfdfd;
}
.stock__head{
    width: 126px;
    height: 53px;
    margin: 30px auto;
}
.stock__head h2{
    width: 129px;
    height: 54px;
    color: #503737;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 1px;
    margin: auto;
}
.stock__boxes{
    height: 320px;
    width: 1000px;
    margin: 0 0 14px;
}
.stock__boxes__box{
    width: 470px;
    height: 300px;
    margin: auto;
    background-color: #f4f3eb;
    cursor: pointer;
    transition: 300ms;
    overflow: hidden;
}
.stock__boxes__box:hover{
    box-shadow: 4px -1px 20px 0px #80808059;
}
.stock__boxes__box img{
    display: block;
    width: 220px;
}
.stock__boxes__box-animate{
    margin-right: 20px;
    float: left;
    width: 220px;
    height: 300px;
    overflow: hidden;
    transition: 300ms;
    position: relative;
}
.stock__boxes__box:hover .stock__boxes__box-animate{
    transform: scale(1.13);
}
.stock__boxes__box h3{
    margin: 25px auto 10px;
    height: 47px;
    color: #d8424b;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: underline;
    letter-spacing: 0.45px;
    width: 400px;
}
.stock__boxes__box p{
    width: 434px;
    height: 75px;
    color: #444444;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 5px auto 0;
}
.secondText__text__new {
    font-size: 37px;
    font-weight: 500;
    line-height: 24px;
    color: #673a20;
    padding: 0;
    margin: auto;
    width: 141px;
}